<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="DBConnectionTestBase" connectionString="data source=server;Initial Catalog=TEST-BASE;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
		<add name="DBConnectionProductBase" connectionString="data source=server;Initial Catalog=BASE;Integrated Security=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
