
<div class="btn-group-vertical">
	<a class="btn btn-outline-info @AdminMenu.GetUsersListStatus(ViewContext)"
		asp-controller="ADUsers"
		asp-action="Index">Пользователи
	</a>
	<a class="btn btn-outline-info @AdminMenu.GetRegionsListStatus(ViewContext)"
		asp-controller="Regions"
		asp-action="Index">Регионы
	</a>
</div>
