@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ООО ORG2</h1>
    <h1 class="display-4">ООО ORG1</h1>
    @*@await Component.InvokeAsync("PDN", "CDB181541")*@
</div>
