<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--Настройка соединения с БД-->
	<connectionStrings>
		<add name="DBConnectionTestBase" connectionString="data source=server;Initial Catalog=TEST-BASE;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
		<add name="DBConnectionProductBase" connectionString="data source=server;Initial Catalog=BASE;Integrated Security=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <!--Временная папка для файлов-->
  <appSettings>
    <add key="TMPDirectory" value=".\tmp\"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <!--Настройка WCF службы-->
  <system.serviceModel>
    <client>
      <!--<endpoint name="" address="http://localhost:4000/pdf" binding="basicHttpBinding" contract="NBCHLibrary.IPDFSaver" />-->
		 <endpoint address="net.tcp://server/service1c" bindingConfiguration="NBCH_TCP" contract="NBCH_LIB.Interfaces.WCF.IService1CWCF" binding="netTcpBinding"/>
	     <endpoint address="net.tcp://server:4001/service1c_soap" bindingConfiguration="NBCH_TCP" contract="NBCH_LIB.Interfaces.WCF.IService1СSoapWCF" binding="netTcpBinding"/>
		 <endpoint address="net.tcp://server:4001/service_nbch" bindingConfiguration="NBCH_TCP" contract="NBCH_LIB.Interfaces.WCF.IServiceNBCHWCF" binding="netTcpBinding"/>
	     <endpoint address="net.tcp://server:4001/service_nbch_soap" bindingConfiguration="NBCH_TCP" contract="NBCH_LIB.Interfaces.WCF.IServiceNBCHsoap" binding="netTcpBinding"/>
	     <endpoint address="net.tcp://server:4001/pdn" bindingConfiguration="NBCH_TCP" contract="NBCH_LIB.Interfaces.WCF.IServicePDNWCF" binding="netTcpBinding"/>
	</client>
    <bindings>
      <!--HTTP-->
      <!--<basicHttpBinding>
				<binding name="PDFStorageHTTP" messageEncoding="Mtom" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
					<readerQuotas maxStringContentLength="10242880"  maxArrayLength="10242880" />
					<security>
						<transport clientCredentialType="Windows"/>
					</security>
				</binding>
			</basicHttpBinding>-->
      <!--TCP-->
      <netTcpBinding>
        <binding name="NBCH_TCP" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <security>
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <!--Лог трассировки-->
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <!--<add name="ConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />-->
        <add name="TraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="PDFWCServerF.log"/>
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
