<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--Группа AD для подключения пользователя к сервису-->
	<appSettings>
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<!--Настройка соединения с БД-->
	<connectionStrings>
		<add name="DBConnectionTestBase" connectionString="data source=SERVER;Initial Catalog=TEST-BASE;Integrated Security=True;" providerName="System.Data.SqlClient" />
		<add name="DBConnectionProductBase" connectionString="data source=SERVER;Initial Catalog=BASE;Integrated Security=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<!--Настройка WCF службы-->
	<system.serviceModel>
		<!--Настройки привязки-->
		<bindings>
			<!--HTTP-->
			<basicHttpBinding>
				<binding name="NBCH_HTTP" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" messageEncoding="Mtom">
					<security>
						<transport clientCredentialType="Windows" />
					</security>
				</binding>
			</basicHttpBinding>
			<!--TCP-->
			<netTcpBinding>
				<binding name="NBCH_TCP" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
					<security>
						<transport clientCredentialType="Windows" />
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
		<!--Конфигурация службы по умолчнаию-->
		<behaviors>
			<serviceBehaviors>
				<behavior name="NBCHBehaviors">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<!--Настройки службы-->
		<services>
   <service behaviorConfiguration="NBCHBehaviors" name="NBCHWCFNS.PDFSaverWCF">
    <endpoint address="http://localhost:4000/pdf" binding="basicHttpBinding"
     bindingConfiguration="NBCH_HTTP" contract="NBCH_LIB.Interfaces.IPDFSaver" />
    <endpoint address="net.tcp://localhost:4001/pdf" binding="netTcpBinding"
     bindingConfiguration="NBCH_TCP" contract="NBCH_LIB.Interfaces.IPDFSaver" />
    <endpoint address="mex" binding="mexHttpBinding" contract="NBCH_LIB.Interfaces.IPDFSaver" />
    <host>
     <baseAddresses>
      <add baseAddress="http://localhost:4000/pdf" />
      <add baseAddress="net.tcp://localhost:4001/pdf" />
     </baseAddresses>
    </host>
   </service>
   <service behaviorConfiguration="NBCHBehaviors" name="NBCHWCFNS.Source.PDFADUserWCF">
    <endpoint address="http://localhost:4000/aduser" binding="basicHttpBinding"
     bindingConfiguration="NBCH_HTTP" contract="NBCH_LIB.Interfaces.IADUser" />
    <endpoint address="net.tcp://localhost:4001/aduser" binding="netTcpBinding"
     bindingConfiguration="NBCH_TCP" contract="NBCH_LIB.Interfaces.IADUser" />
    <endpoint address="mex" binding="mexHttpBinding" contract="NBCH_LIB.Interfaces.IADUser" />
    <host>
     <baseAddresses>
      <add baseAddress="http://localhost:4000/aduser" />
      <add baseAddress="net.tcp://localhost:4001/aduser" />
     </baseAddresses>
    </host>
   </service>
   <service behaviorConfiguration="NBCHBehaviors" name="NBCHWCFNS.Source.PDFRegionWCF">
    <endpoint address="http://localhost:4000/region" binding="basicHttpBinding"
     bindingConfiguration="NBCH_HTTP" contract="NBCH_LIB.Interfaces.IRegion" />
    <endpoint address="net.tcp://localhost:4001/region" binding="netTcpBinding"
     bindingConfiguration="NBCH_TCP" contract="NBCH_LIB.Interfaces.IRegion" />
    <endpoint address="mex" binding="mexHttpBinding" contract="NBCH_LIB.Interfaces.IRegion" />
    <host>
     <baseAddresses>
      <add baseAddress="http://localhost:4000/region" />
      <add baseAddress="net.tcp://localhost:4001/region" />
     </baseAddresses>
    </host>
   </service>
   <service behaviorConfiguration="NBCHBehaviors" name="NBCH_WCF.Services.WCFService1C">
    <endpoint address="http://localhost:4000/service1c" binding="basicHttpBinding"
     bindingConfiguration="NBCH_HTTP" contract="NBCH_LIB.Interfaces.WCF.IService1CWCF" />
    <endpoint address="net.tcp://localhost:4001/service1c" binding="netTcpBinding"
     bindingConfiguration="NBCH_TCP" contract="NBCH_LIB.Interfaces.WCF.IService1CWCF" />
    <endpoint address="mex" binding="mexHttpBinding" contract="NBCH_LIB.Interfaces.WCF.IService1CWCF" />
    <host>
     <baseAddresses>
      <add baseAddress="http://localhost:4000/service1c" />
      <add baseAddress="net.tcp://localhost:4001/service1c" />
     </baseAddresses>
    </host>
   </service>
   <service behaviorConfiguration="NBCHBehaviors" name="NBCH_WCF.Services.WCFService1CSoap">
    <endpoint address="http://localhost:4000/service1c_soap" binding="basicHttpBinding"
     bindingConfiguration="NBCH_HTTP" contract="NBCH_LIB.Interfaces.WCF.IService1СSoapWCF" />
    <endpoint address="net.tcp://localhost:4001/service1c_soap" binding="netTcpBinding"
     bindingConfiguration="NBCH_TCP" contract="NBCH_LIB.Interfaces.WCF.IService1СSoapWCF" />
    <endpoint address="mex" binding="mexHttpBinding" contract="NBCH_LIB.Interfaces.WCF.IService1СSoapWCF" />
    <host>
     <baseAddresses>
      <add baseAddress="http://localhost:4000/service1c_soap" />
      <add baseAddress="net.tcp://localhost:4001/service1c_soap" />
     </baseAddresses>
    </host>
   </service>
   <service behaviorConfiguration="NBCHBehaviors" name="NBCH_WCF.Services.WCFServiceNBCH">
    <endpoint address="http://localhost:4000/service_nbch" binding="basicHttpBinding"
     bindingConfiguration="NBCH_HTTP" contract="NBCH_LIB.Interfaces.WCF.IServiceNBCHWCF" />
    <endpoint address="net.tcp://localhost:4001/service_nbch" binding="netTcpBinding"
     bindingConfiguration="NBCH_TCP" contract="NBCH_LIB.Interfaces.WCF.IServiceNBCHWCF" />
    <endpoint address="mex" binding="mexHttpBinding" contract="NBCH_LIB.Interfaces.WCF.IServiceNBCHWCF" />
    <host>
     <baseAddresses>
      <add baseAddress="http://localhost:4000/service_nbch" />
      <add baseAddress="net.tcp://localhost:4001/service_nbch" />
     </baseAddresses>
    </host>
   </service>
   <service behaviorConfiguration="NBCHBehaviors" name="NBCH_WCF.Services.WCFServiceNBCHSoap">
    <endpoint address="http://localhost:4000/service_nbch_soap" binding="basicHttpBinding"
     bindingConfiguration="NBCH_HTTP" contract="NBCH_LIB.Interfaces.WCF.IServiceNBCHsoapWCF" />
    <endpoint address="net.tcp://localhost:4001/service_nbch_soap" binding="netTcpBinding"
     bindingConfiguration="NBCH_TCP" contract="NBCH_LIB.Interfaces.WCF.IServiceNBCHsoapWCF" />
    <endpoint address="mex" binding="mexHttpBinding" contract="NBCH_LIB.Interfaces.WCF.IServiceNBCHsoapWCF" />
    <host>
     <baseAddresses>
      <add baseAddress="http://localhost:4000/service_nbch_soap" />
      <add baseAddress="net.tcp://localhost:4001/service_nbch_soap" />
     </baseAddresses>
    </host>
   </service>
   <service behaviorConfiguration="NBCHBehaviors" name="NBCH_WCF.Services.WCFServiceRegistrar">
    <endpoint address="http://localhost:4000/registrar" binding="basicHttpBinding"
     bindingConfiguration="NBCH_HTTP" contract="NBCH_LIB.Interfaces.WCF.IServiceRegistrarWCF" />
    <endpoint address="net.tcp://localhost:4001/registrar" binding="netTcpBinding"
     bindingConfiguration="NBCH_TCP" contract="NBCH_LIB.Interfaces.WCF.IServiceRegistrarWCF" />
    <endpoint address="mex" binding="mexHttpBinding" contract="NBCH_LIB.Interfaces.WCF.IServiceRegistrarWCF" />
    <host>
     <baseAddresses>
      <add baseAddress="http://localhost:4000/registrar" />
      <add baseAddress="net.tcp://localhost:4001/registrar" />
     </baseAddresses>
    </host>
   </service>
   <service behaviorConfiguration="NBCHBehaviors" name="NBCH_WCF.Services.WCFServicePDN">
    <endpoint address="http://server:4000/pdn_share" binding="basicHttpBinding"
     bindingConfiguration="NBCH_HTTP" contract="NBCH_LIB.Interfaces.WCF.IServicePDNWCF" />
    <endpoint address="net.tcp://server:4001/pdn_share" binding="netTcpBinding"
     bindingConfiguration="NBCH_TCP" contract="NBCH_LIB.Interfaces.WCF.IServicePDNWCF" />
    <endpoint address="mex" binding="mexHttpBinding" contract="NBCH_LIB.Interfaces.WCF.IServicePDNWCF" />
    <host>
     <baseAddresses>
      <add baseAddress="http://server:4000/pdn" />
      <add baseAddress="net.tcp://server:4001/pdn" />
     </baseAddresses>
    </host>
   </service>
   <service behaviorConfiguration="NBCHBehaviors" name="NBCH_WCF.Services.WCFServicePosts">
    <endpoint address="http://localhost:4000/posts" binding="basicHttpBinding"
     bindingConfiguration="NBCH_HTTP" contract="NBCH_LIB.Interfaces.WCF.IServicePostsWCF" />
    <endpoint address="net.tcp://localhost:4001/posts" binding="netTcpBinding"
     bindingConfiguration="NBCH_TCP" contract="NBCH_LIB.Interfaces.WCF.IServicePostsWCF" />
    <endpoint address="mex" binding="mexHttpBinding" contract="NBCH_LIB.Interfaces.WCF.IServicePostsWCF" />
    <host>
     <baseAddresses>
      <add baseAddress="http://localhost:4000/posts" />
      <add baseAddress="net.tcp://localhost:4001/posts" />
     </baseAddresses>
    </host>
   </service>
  </services>
	</system.serviceModel>
	<!--Лог трассировки-->
	<system.diagnostics>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="TraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="PDFWCServer.log" />
				<remove name="Default" />
			</listeners>
		</trace>
	</system.diagnostics>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>