@model Region

<div class="row">
	<div class="input-group">
		<div class="input-group-prepend">
			<input type="text" asp-for="@Model.Name" class="form-text">
		</div>
		<input type="text" asp-for="@Model.Name" class="form-control">
	</div>
</div>